name: Deploy to Firebase Hosting (Production)
on:
  push:
    branches:
      - main
permissions:
  checks: write
  contents: read

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies and build
        run: |
          cd frontend
          npm ci
          npm run build --verbose
        env:
          VUE_APP_API_BASE_URL: ${{ secrets.VUE_APP_API_BASE_URL }}
          VUE_APP_GOOGLE_CLIENT_ID: ${{ secrets.VUE_APP_GOOGLE_CLIENT_ID }}

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_EASYMONEYMANAGER_4FE76 }}
          projectId: easymoneymanager-4fe76
          entryPoint: frontend
          channelId: live
